@model Theme.Models.Role

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
    if (Session["Email"] != null)
    {
        ViewBag.id = @Session["Id"].ToString();
        ViewBag.EntryBy = @Session["Name"].ToString();
    }

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#EntryDateTime").hide();
        $("#EntryBy").hide();
        $("#eb").hide();
        $("#hi").hide();


    });
</script>

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Role</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoleDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RoleDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoleDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.EntryBy, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.EntryBy, "", new { @class = "text-danger" })*@
                <div class="form-input">
                    <label id="eb">Entry By</label>
                    @*<div class="form-control">
                @{
                    if (Session["Email"] != null)
                    {
                        @Session["Name"].ToString()
                    }

                }
            </div>*@
                    @Html.TextBox("EntryBy", (string)ViewBag.EntryBy, new { @class = "form-control" })
                </div>
            </div>
            </div>

        @*<div class="form-group">
                @Html.LabelFor(model => model.EntryDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EntryDateTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntryDateTime, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "RoleList")
</div>
