@model Theme.Models.Staff

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
      if (Session["Email"] != null)
    {
        ViewBag.id = @Session["Id"].ToString();
        ViewBag.EntryBy = @Session["Name"].ToString();
    }

}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $("#EntryDateTime").hide();
        $("#EntryBy").hide();
         $("#HospitalId").hide();
        $("#eb").hide();
        $("#hi").hide();


    });
</script>
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @*<div class="form-horizontal">
            <h4>Staff</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.StaffName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StaffName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StaffName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EmployeeCode, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EmployeeCode, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EmployeeCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HospitalId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HospitalId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HospitalId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StaffSpecialization, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StaffSpecialization, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StaffSpecialization, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StaffDegree, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StaffDegree, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StaffDegree, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StaffPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StaffPhone, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StaffPhone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.RoleId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">


                        <select name="RoleName" class="field">
                            @for (int i1 = 0; i1 < ViewBag.Data.Count; i1++)
                            {
                                <Option>
                                    @for (int j = 0; j < ViewBag.Data[0].Count; j++)
                                    {
                                        @ViewBag.Data[i1][j]
                                    }
                                </Option>
                            }
                        </select>

                    @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StaffAddress, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StaffAddress, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StaffAddress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StaffEmail, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StaffEmail, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StaffEmail, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StaffCity, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StaffCity, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StaffCity, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StaffState, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StaffState, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StaffState, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.StaffCountry, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.StaffCountry, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.StaffCountry, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EntryBy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EntryBy, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EntryBy, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Status, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>*@
    <div class="container">
        <form method="post" action="InsertData">
            <div class="row">

                <div class="col-sm-3">

                    <div class="form-input">
                        <label>Staff Name</label>
                        <input class="form-control" id="staffName" name="StaffName" type="text">
                    </div>
                </div>

                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="form-group">
                      
                            <label>Role Id</label>
                            <div class="form-check-label">
                                <select name="RoleName" class="field">
                                    @for (int i1 = 0; i1 < ViewBag.Data.Count; i1++)
                                    {
                                        <Option>
                                            @for (int j = 0; j < ViewBag.Data[0].Count; j++)
                                            {
                                                @ViewBag.Data[i1][j]
                                            }
                                        </Option>
                                    }
                                </select>

                                @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                            </div>
                      
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="form-input">
                        <label>Employee Code</label>
                        <input class="form-control" id="employeeCode" name="EmployeeCode" type="number">
                    </div>

                </div>
            </div>


            <div class="row mt-3">
                <div class="col-sm-3">

                    <div class="form-input">
                        <label>Staff Specialization</label>
                        <input class="form-control" id="staffSpecilization" name="StaffSpecialization" type="text">
                    </div>
                </div>

                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="form-input">
                        <label>Staff Degree</label>
                        <input class="form-control" id="StaffDegree" name="StaffDegree" type="text">
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="form-input">
                        <label>Designation</label>
                        <input class="form-control" id="designation" name="designation" type="text">
                    </div>

                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-3">
                    <div class="form-input">
                        <label>Staff Phone</label>
                        <input class="form-control" id="staffPhone" name="StaffPhone" type="tel">
                    </div>


                </div>

                <div class="col-sm-1"></div>
                <div class="col-sm-3">

                    <div class="form-input">
                        <label>Staff E-mail</label>
                        <input class="form-control" id="StaffEmail" name="StaffEmail" type="text">
                    </div>


                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="form-input">
                        <label>City</label>
                        <input class="form-control" id="city" name="StaffCity" type="text">
                    </div>
                </div>
            </div>


            <div class="row mt-3">
                <div class="col-sm-3">
                    <div class="form-input">
                        <label>State</label>
                        <input class="form-control" id="state" name="StaffState" type="text">
                    </div>

                </div>

                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="form-input">
                        <label>Country</label>
                        <input class="form-control" id="country" name="StaffCountry" type="text">
                    </div>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="form-input">
                        <label class="display-block">Employee Status</label><br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Status" id="product_active" value="option1" checked>
                            <label class="form-check-label" for="product_active">
                                Active
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Status" id="product_inactive" value="option2">
                            <label class="form-check-label" for="product_inactive">
                                Inactive
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-3">
                    @*<div class="form-input">
                            <label>Entry DateTime</label>
                            <input class="form-control" id="EntryDate" name="EntryDate" type="date">
                        </div>*@
                    <div class="form-input">
                        <label>Staff Address</label>
                        <textarea class="form-control" id="StaffAddress" name="StaffAddress" type="text"></textarea>
                    </div>

                </div>

                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="form-group">
                      
                            @*@Html.EditorFor(model => model.EntryBy, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EntryBy, "", new { @class = "text-danger" })*@
                            <div class="form-input">
                                <label id="eb">Entry By</label>
                                @*<div class="form-control">
                        @{
                            if (Session["Email"] != null)
                            {
                                @Session["Name"].ToString()
                            }

                        }
                    </div>*@
                                @Html.TextBox("EntryBy", (string)ViewBag.EntryBy, new { @class = "form-control" })
                            </div>
                     
                    </div>

                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
                    <div class="form-input">
                        <label id="hi">Hospital Id</label>
                        @*<div class="form-control"name="Id">
            @{
                if (Session["Email"] != null)
                {
                    @Session["Id"].ToString()
                }

            }
        </div>*@
                        @Html.TextBox("HospitalId", (string)ViewBag.id, new { @class = "form-control" })
                    </div>

                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-3">




                </div>

                <div class="col-sm-1"></div>
                <div class="col-sm-3">


                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-3">

                </div>
            </div>

            <br>




            <div class="m-t-20 text-center" style="margin:0px 0px 0px -10%">
                <input type="submit" class="btn btn-primary" id="btnSubmit" value="Save">
            </div>
            <br>
        </form>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "StaffList")
</div>
